@import url('https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P');

body {
  background-image: url('./img/mario.png');
  background-size:cover;
  /* background:  rgb(250,235,215); */
  color: ghostwhite;
  font-family: 'Press Start 2P', cursive;
}

.letters {
  width: 1.5em;
  height: 1.5em;
  background-image: url('./img/brick.png') ;
  background-size:cover;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: .1em;
  box-shadow: 3px 3px 8px 2px #888888;
  
   
}

.lettersContainer {
  display: flex;
  justify-content: center;
}