@import url('https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P');

body {
  background-image: url('./img/mario.png');
  background-size:cover;
  color: ghostwhite;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  height: 100vh;
}

.App {
  
}
header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: .3em;

}

input[type='text'],
textarea {
  font-size: 16px;
}

input[type='text'],
select:focus,
textarea {
  font-size: 16px;
}

.submitButton {
  background-image: url('./img/titlebrick.png');
  background-size:cover;
  width: 8em;
  height: 23px;
  color: ghostwhite;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px 2px #888888;
  margin: auto 0;
}

.startButton {
  background-image: url('./img/titlebrick.png');
  background-size:cover;
  width: 10em;
  height: 5em;
  color: ghostwhite;
  font-family: 'Press Start 2P', cursive;
  font-size: .5em;
  border-radius: 3px;
  box-shadow: 3px 3px 8px 2px #888888;
  margin: auto 0;
}

.startContainer {
  position: absolute;
  width: 100%;
  bottom: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.emptyDiv {
  height: 60px;
}

.letters {
  width: 1.5em;
  height: 1.5em;
  background-image: url('./img/brick.png') ;
  background-size:cover;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: .1em;
  box-shadow: 3px 3px 8px 2px #888888;
}

.lettersContainer {
  display: flex;
  justify-content: center;
}

.wordsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  text-align: center;
}

.username {
  text-decoration: underline;
  margin-bottom: 7px;
}

footer {
  text-align: center;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  letter-spacing: .5px;
  line-height: 95%;
  text-shadow: 3px 3px 8px #888888;
}

/* Widescreen */
@media screen and (min-width: 1800px) {
  body {
    background-size: 100% 100%;
    background-color: green;
  }
  footer {
    font-size: 22px;
  }
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  footer {
    font-size: 12px;
  }
}
/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  footer {
    font-size: 12px;
  }
}